<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h2>Create New Chat</h2>
    <form method="post" action="/chats">
        <input placeholder="who are you? " name="from">
        <br />
        <textarea name="message" placeholder="write your message"></textarea>
        <br />
        <input placeholder="Recieved by? " name="to">
        <br/>
        <button>Create Chat</button>

    </form>
</body>
</html>